<!doctype html>
<html ng-app="ShoppingListCheckOff" lang="en">
  <head>
    <script src ="angular.min.js"></script>
    <script src ="app.js" ></script>
    <title>Shopping List Check Off</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .emptyMessage {
        font-weight: bold;
        color: red;
        font-size: 1.2em;
      }
      li {
        margin-bottom: 7px;
        font-size: 1.2em;
      }
      li > button {
        margin-left: 6px;
      }
      button > span {
        color: green;
      }
    </style>
  </head>
<body>
  <div class="container">
  <h1>Shopping List Check Off</h1>

  <div class="row">

    <!-- To Buy List -->
    <div ng-controller="ToBuyController as list1" class="col-md-6">
     <h2>To Buy:</h2>
     <ul>
       <li ng-repeat="item in list1.items"> {{item.quantity}} of {{item.name}}
         <button ng-click="list1.deleteItem($index)"class="btn btn-default"><span class="glyphicon glyphicon-ok"></span> Bought</button>
       </li>
     </ul>
     <div class="emptyMessage" ng-if = "list1.message()">Everything is bought!</div>
    </div>

    <!-- Already Bought List -->
    <div ng-controller="AlreadyBoughtController as list2" class="col-md-6">
     <h2>Already Bought:</h2>
     <ul>
       <li ng-repeat = "itemBought in list2.boughtList"> {{itemBought.quantity}} of {{itemBought.name}}</li>
     </ul>
     <div class="emptyMessage" ng-if="list2.message()">Nothing bought yet.</div>
    </div>
  </div>
</div>

</body>
</html>
